@font-face {
    font-family: 'Inter-Bold';
    src: url(../Fonts/Inter-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter-Medium';
    src: url(../Fonts/Inter-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter-Regular';
    src: url(../Fonts/Inter-Regular.ttf) format('truetype');
}








